    <header>
        
        <h1>Ecommerce</h1>
        <ul>

            <li><a href="/productos/listar">Vista de productos</a></li>

            <li><a href="/productos/agregar">Ingresar Producto</a></li>
            
            <li><a href="/carrito/listar">Ir al carrito</a></li>

            <li><a href="/chat">Chat</a></li>

            <li><a href="/info">Información del proceso</a></li>

        </ul>

    </header>