MONGODB_URL=
MONGO_USER=
MONGO_PASSWORD=
NODEMAIL_USER=
NODEMAIL_PASS=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
NODE_ENV=
GMAIL_PASSWORD=
GMAIL_EMAIL=
ACCOUNT_SID_TWILIO=
AUTHTOKEN_TWILIO=
MYSQL_ADDON_HOST=
MYSQL_ADDON_DB=
MYSQL_ADDON_USER=
MYSQL_ADDON_PASSWORD=
NUMERO_ADMINISTRADOR=
FIREBASE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_ID=
PORT=
TIME_SESSION=